<section class="calc__main">
    <h1 class="calc__title">My calculator</h1>
    <p class="calc__content">14141,3454</p>
    <ul class="calc__buttons">
        <li class="calc__item"><button class="calc__btn calc__btn-blue">C</button></li>
        <li class="calc__item"><button class="calc__btn calc__btn-blue">%</button></li>
        <li class="calc__item"><button class="calc__btn calc__btn-blue">x</button></li>
        <li class="calc__item"><button class="calc__btn calc__btn-orange">/</button></li>
        <li class="calc__item"><button class="calc__btn">7</button></li>
        <li class="calc__item"><button class="calc__btn">8</button></li>
        <li class="calc__item"><button class="calc__btn">9</button></li>
        <li class="calc__item"><button class="calc__btn calc__btn-orange">*</button></li>
        <li class="calc__item"><button class="calc__btn">4</button></li>
        <li class="calc__item"><button class="calc__btn">5</button></li>
        <li class="calc__item"><button class="calc__btn">6</button></li>
        <li class="calc__item"><button class="calc__btn calc__btn-orange">-</button></li>
        <li class="calc__item"><button class="calc__btn">1</button></li>
        <li class="calc__item"><button class="calc__btn">2</button></li>
        <li class="calc__item"><button class="calc__btn">3</button></li>
        <li class="calc__item"><button class="calc__btn calc__btn-orange">+</button></li>
        <li class="calc__item"><button class="calc__btn">00</button></li>
        <li class="calc__item"><button class="calc__btn">0</button></li>
        <li class="calc__item"><button class="calc__btn">.</button></li>
        <li class="calc__item"><button class="calc__btn calc__btn-orange">=</button></li>
    </ul>
</section>